
//== Template Main Color
$color-main: #6236ff;
$white: #fff;
$black: #292929;


/*----------------------------------------------
    # Typography
----------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700,700&display=swap");

//  transition
$transition: all .3s ease-in;
$transition-long: all .5s ease-in;
