/*---------------------------------------------------
	banner style
----------------------------------------------------*/
.balance-area-bg {
	position: relative;
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 60%;
		left: 0;
		top: 0;
		background: $white;
		border:1px solid #ececec;
		z-index: -1;
		border-radius: 6px;
	}
	.edit-title {
		position: absolute;
		right: 10px;
		top: 10px;
		color: #fff;
		font-weight: 500;
	}
}
.balance-area-bg-home{
	&:after {
		background-image: url('../../assets/img/bg/8.png') !important;
		background-size: cover;
	}
	.balance-title h6 {
		color: #fff;
	}
}
.bg-user-setting::after {
	background-image: url('../../assets/img/bg/9.png') !important;
}
.balance-title {
	padding: 18px 0 12px 0;
}
.ba-balance-inner {
	border:1px solid #ececec;
	margin: 0 45px;
	padding: 20px;
	border-radius: 6px;
	.icon {
		height: 50px;
		width: 50px;
		display: inline-block;
		line-height: 48px;
		box-shadow: 0px 0px 29px 0px rgba(104, 62, 254, 0.82);
		border-radius: 50%;
		background: #6236ff;
		margin-bottom: 13px;
		i {
			font-size: 30px;
			color: #fff;
			padding-top: 8px;
		}
	}
	.title {
		color: $black;
		margin-bottom: 7px;
	}
	.amount {
		color: #0114a7;
		margin-bottom: 0;
	}
}