/*---------------------------------------------------
    Footer style
----------------------------------------------------*/
.footer-area {
	background: $white;
	margin-bottom: 55px;
}
.footer-top {
	padding: 20px 0;
	p {
		margin-bottom: 0;
		color: $white;
	}
}
.footer-bottom {
	position: fixed;
	width: 100%;
	z-index: 9;
	bottom: 0;
	left: 0;
	background: #fff;
    border-top: 1px solid #DCDCE9;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			display: inline-block;
			margin: 0 8px;
			padding: 10px 0 8px 0;
			p {
				margin-bottom: 0;
				font-size: 10px;
				transition: 0.4s;
			}
			a {
				transition: 0.4s;
				&:hover {
					color: $color-main;
					p {
						color: $color-main;
					}
				}
			}
		}
	}
}